<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇</title>

    <link rel="stylesheet" href="/css/chatbot.css">
</head>
<body>
    <h1 id="chatbotTitle">챗봇 메인페이지</h1>

    <div id="chatbotBox">
        <div id="chattingContent">
            <ul id="display-chatting">
                <!-- 내가 보낸 채팅은 오른쪽 -->
                <!-- 챗봇 답변은 왼쪽 -->
            </ul>
        </div>
        <div id="inputArea">
            <textarea id="inputChatting" rows="3"></textarea>
            <button id="send">보내기</button>
        </div>    
    </div>

    <script src="/js/chatbot/chatbot.js"></script>
</body>
</html>