<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main page</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <main>
            <button id="jpaList">JPA Member List</button>
            <button onclick="location.href='/jpa/memberList';">JPA Member List</button>
            <button id="jpaRegist">JPA Member Registration</button>
            <button onclick="location.href='/jpa/memberWriteForm';">JPA Member Registration</button>
        </main>
    </body>

    <script src="/js/main.js"></script>
</html>