<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여러 개의 Form 값 전달하고 주고 받기 DTO</title>
</head>
<body>
    <h1>Multi Form Page DTO</h1>

    <h3 th:utext="${msg}"></h3>
    
    <!-- formData DTO(객체) -->
    <form action="/thymeleaf-test10" method="POST" th:object="${formData}">
        아이디 : <input type="text" name="id" th:value="*{id}"><br>
        이름   : <input type="text" name="name" th:value="*{name}"><br>
        이메일 : <input type="text" name="email" th:value="*{email}"><br>
        나이   : <input type="text" name="age" th:value="*{age}"><br>
        성별   : <input type="text" name="gender" th:value="*{gender}">

        <input type="submit" value="Send">
    </form>
    <!-- formData DTO 안에 있는 값 출력 할 때 *{} -->
</body>
</html>