<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Test</title>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet' />
    <script src='https://fullcalendar.io/releases/fullcalendar/3.10.2/lib/moment.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>

    <link rel="stylesheet" href="/css/calendar/calendar.css">
</head>
<body>
    <section class="calendarSection">
        <div class="calendarBox">
            <div id='calendar'></div>
        </div>
    </section>

    <!-- select 했을 경우 할 일 제목, 색 클릭, 요청 멤버 선택해서 받아줄 거 -->
    <div class="calendarModal">
        <div>
            일정 제목 : <input>
        </div>
        <div class="titleColor">
            <div style="background-color: #eb9234;"></div>
            <div style="background-color: #accf9b;"></div>
            <div style="background-color: #6d8ec7;"></div>
        </div>
        <div>
            추가할 사람 선택
        </div>
        <div>
            <!-- 선택된 사람 넣는 곳 -->
        </div>
        <div>
            <input type="checkbox"> 팀 공유 여부
        </div>
        <div>
            <button>저장</button>
            <button>취소</button>
        </div>
    </div>

    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="eventDescription"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/calendar/calendar.js"></script>
</body>
</html>