<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header id="header">
        <section class="title">
            <a href="/">Ji-yun's WebPage</a>
        </section>
    </header>
    
    <main>
        <nav class="header-nav">
            <ul>
                <li><a href="#header">HOME</a></li>
                <li><a href="#profile">ABOUT ME</a></li>
                <li><a href="#skills">SKILLS</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="/chatbot/chatbotMain">CHAT BOT</a></li>
                <li><a href="/litis/test">LITIS</a></li>
                <li><a href="/litis/organization">조직</a></li>
            </ul>
        </nav>
        <section class="home">
            <img src="https://images.unsplash.com/photo-1705281238460-28fe48836205?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzl8fHxlbnwwfHx8fHw%3D" alt="home_img">
        </section>

        <section class="aboutMe" id="profile">
            <p>profile</p>
            <p>이름 : 송지윤</p>
            <p>생년월일 : </p>
            <p>E-mail : </p>
            <p>mobile : </p>
        </section>

        <!-- <section class="skills" id="skills">
            <section>
                <p>SKILLS</p>
            </section>
            
            <section>
                <ul>
                    <li>1.HTML</li>
                    <li>
                        <a href="../1_HTML5/01_글자관련태그.html" target="_blank">글자 관련 태그</a>
                    </li>
                    <li>
                        <a href="../1_HTML5/02_목록관련태그.html" target="_blank">목록 관련 태그</a>
                    </li>
                    <li>
                        <a href="../1_HTML5/03_연습문제1.html" target="_blank">연습 문제</a>
                    </li>
                    <li>
                        <a href="#velog">더 많은 내용은 아래 velog와 github에서 확인 가능합니다.</a>
                    </li>
                </ul>
                <ul>
                    <li>2.CSS</li>
                    <li>
                        <a href="../2_CSS/01_CSS개요,CSS선택자1.html" target="_blank">선택자</a>
                    </li>
                    <li>    
                        <a href="../2_CSS/07_레이아웃스타일1.html" target="_blank">레이아웃 스타일</a>
                    </li>    
                    <li>
                    <a href="../2_CSS/10_flexbox.html" target="_blank">flexbox</a>
                    </li>
                    <li>
                        <a href="#velog">더 많은 내용은 아래 velog와 github에서 확인 가능합니다.</a>
                    </li>
                </ul>
            </section>
        </section> -->

        <section class="portfolio" id="portfolio">
            <p class="portfolioTitle">PORTFOLIO</p>
            <a href="https://spark-submarine-5be.notion.site/Ji-Yun-Song-65b452e6d8eb4e17ad054b3e7e939b07" target="_blank">
                <p class="notionTitle">Ji-yun's Notion</p>
            </a>
        </section>
    </main>

    <footer id="velog">
        <section>
            <a href="https://velog.io/@songjiyoon/posts" target="_blank">
                <p>Ji-yun's velog</p>
            </a>
        </section>
        <section>
            <a href="https://github.com/songjiyoon9507" target="_blank">
                <p>Ji-yun's github</p>
            </a>
        </section>
    </footer>
</body>
</html>