<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타임리프 예제 5</title>

    <style>
        .red {color:red;}
        .green {color:green;}
        .deco {text-decoration: underline;}
    </style>
</head>
<body>
    <h1>타임리프 예제 5</h1>

    <h3>th:inline = "javascript" 속성</h3>
    <pre>
        - script 태그에 작성하는 속성
        - 타임리프 문법으로 출력된 내용/값을
          JS에 알맞은 타입으로 변환
    </pre>

    <h3 id="message"></h3>
    <h3 id="num1"></h3>

    <hr>

    <h3>th:classappend 속성 : 요소에 class 속성 값을 동적으로 추가</h3>

    <h4 th:classappend="red">th:classappend 테스트 중</h4>

    <h4 class="red" th:classappend="deco">th:classappend 테스트 중</h4>

    <!-- lt : <
         gt : > -->
    <!-- num1 이 10000보다 클 경우 green 아니면 red -->
    <h4 th:classappend="${num1 gt 10000} ? green : red">th:classappend 테스트 중</h4>

    <!-- th:class를 이용하면 기존에 있던 deco class 덮어쓰기 해서 밑줄 없어짐 -->
    <h4 class="deco" th:class="${num1 gt 10000} ? green : red">th:classappend 테스트 중</h4>

    <hr>

    <h3>안전 탐색 연산자 : ${객체?.필드명}</h3>
    ${std.age} 안에 값 없으면 오류 발생함
    ${std?.age} 없으면 출력 안됨 (오류 발생 안함)
    <pre>
        - 객체가 null인지 판단 후 null이 아닌 경우에 수행
        (javascript에서도 사용)
    </pre>

    <!-- <h4 th:text="${member.memberNo}"></h4> -->
    <!-- 500 에러 없는 거 검색하려고 해서 -->
    <h4 th:text="${member?.memberNo}"></h4>
    <!-- 아무것도 출력 안됨 -->

    <!-- member나 std 가 null 인 경우 원래는 오류 발생
        -> 안전 탐색 연산자를 사용하면 오류 발생 X -->
    <h4 th:text="${std?.studentNo}"></h4>

    <hr>

    <h3>${#numbers.sequence(시작, 끝 [, step])} : 번호 발생기</h3>
    <pre>
        - 시작부터 끝까지 번호로만 이루어진 숫자 배열 생성

        ex) ${#numbers.sequence(1, 5)} => [1,2,3,4,5]

        [왜 사용할까?]
        - 타임리프 반복문 th:each 는 향상된 for문으로
          일반 for문의 동작(시작부터 끝까지 몇씩 증가하며 반복)을 못하기 때문에
          이를 해결하기 위해서 사용
    </pre>

    <ul>
        <!-- 11부터 시작해서 20까지 2씩 증가하며 반복 -->
        <li th:each="i : ${#numbers.sequence(11, 20, 2)}"
         th:text="|테스트 ${i}|"
         ></li>
    </ul>

    <th:block th:replace="~{fragments/footer}"></th:block>

    <script th:inline="javascript">
        // JS Inline - Natural Template
        // 스크립트 태그 내부에서 타임리프의 변수나 연산을 사용할 수 있게함

        // - HTML 파일 독립 실행 시
        //   JS 내부 타임리프 코드 오류를 발생하지 않게함
        // + HTML 문법 오류 (컴파일 오류)도 해결

        const message = /*[[${message}]]*/ "message값";
        const num1 = /*[[${num1}]]*/ 100;

        document.querySelector("#message").innerText = message;
        document.querySelector("#num1").innerText = num1;
    </script>
</body>
</html>