<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    할일 목록 보여줄 곳
    <section>
        <li>
            <a href="#">할 일 요청 목록</a>
        </li>
        <li>
            <a href="#">담당 할 일 목록</a>
        </li>
        <li>
            <a href="#">요청 할 일 완료 현황 목록</a>
        </li>
    </section>
    <section>
        <!-- 검색할 부분 -->
        <!-- 할 일 추가 하기 -->
        <th:block th:if="${session.loginMember != null}">
            <form>
                <button>할 일 추가하기</button>
            </form>
        </th:block>
    </section>
</body>
</html>