<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타임리프 예제 5</title>

    <style>
        .red {color: red;}
        .green {color: green;}
        .deco {text-decoration: underline;}
    </style>
</head>
<body>
    <h1>타임리프 예제 5</h1>

    <h3>th:inline = "javascript" 속성</h3>
    <pre>
        - script 태그에 작성하는 속성
        - 타임리프 문법으로 출력된 내용 / 값을
          JS에 알맞은 타입으로 변환
    </pre>

    <h3 id="message"></h3>
    <h3 id="num1"></h3>

    <hr>

    <h3>th:classappend 속성 : 요소에 class 속성 값을 동적으로 추가</h3>

    <h4 th:classappend="red">th:classappend 테스트 중...</h4>

    <h4 class="red" th:classappend="deco">th:classappend 테스트 중...</h4>

    <!-- num1 이 10000보다 클 경우 green 아니면 red -->
    <!-- lt : <
        gt : >
     -->
    <h4 th:classappend="${num1 gt 10000} ? green : red">num1이 10000보다 클 경우 green 아니면 red</h4>

    <!-- th:class 사용하면 기존에 있던 class 덮어쓰기 됨 -->
    <h4 class="deco" th:class="${num1 gt 10000} ? green : red">th:class 테스트 중 기존 class는 deco</h4>
    <!-- 밑줄은 안 나오고 초록색으로 출력됨 -->
    <!-- th:class를 이용하면 기존 deco 클래스 덮어씌워버림 (밑줄 출력 안됨) -->

    <hr>

    <h3>안전 탐색 연산자 : ${객체?.필드}</h3>
    ${std.age} std 없는데 age에 접근하겠다고 하면 페이지에 오류 발생함
    -> ${std?.age} 이렇게 쓰면 페이지 오류 발생 안함
    <pre>
        - 객체가 null인지 판단 후 null이 아닌 경우에 수행
    </pre>

    <!-- <h4 th:text="${member.memberNo}"></h4> -->
    <!-- (template: "example/ex5" - line 55, col 9 -->

    <h4 th:text="${member?.memberNo}"></h4>
    <!-- 오류 안 나지만 출력되는 값은 없음 -->

    <h4 th:text="${std?.studentNo}"></h4>
    <!-- 22222 html 에 이렇게 출력됨-->

    <!-- member나 std 가 null 인 경우 원래는 오류 발생
        -> 안전 탐색 연산자를 사용하면 오류 발생 X
    -->

    <hr>

    <h3>${#numbers.sequence(시작, 끝 [, step])} : 번호 발생기</h3>
    <pre>
        - 시작부터 끝까지 번호로만 이루어진 숫자 배열 생성

        ex) ${#numbers.sequence(1, 5)} => [1, 2, 3, 4, 5]
        step 기본값 1

        [ 왜 사용할까? ]
        - 타임리프 반복문 th:each 는 향상된 for 문으로
          일반 for문의 동작(시작부터 끝까지 몇 씩 증가하며 반복)을 못하기 때문에
          이를 해결하기 위해서 사용
    </pre>

    <ul>
        <!-- 11부터 시작해서 20까지 2씩 증가하며 반복 -->
        <li th:each="i : ${#numbers.sequence(11, 20, 2)}" th:text="|테스트 ${i}|"></li>
    </ul>

    <th:block th:replace="~{fragments/footer}"></th:block>

    <script th:inline="javascript">
        // JS Inline - Natural Template
        // 스크립트 태그 내부에서 타임리프의 변수나 연산을 사용할 수 있게함

        // - HTML 파일 독립 실행 시
        //   JS 내부 타임리프 코드 오류를 발생하지 않게함
        // + HTML 문법오류(컴파일 오류)도 해결

        const message = /*[[${message}]]*/ "message값";
        // 자바스크립트 문법과 맞지 않아서 빨간 밑줄 뜸
        // ex5.html 단독으로 실행했을 때 그냥 "message값" 이 뜸
        // 독립실행 시 오류발생하지 않게끔 뒤에 문장 써준 거

        const num1 = /*[[${num1}]]*/ 100;
        // javascript 가 봤을 때 멀쩡한 값 넣어줘야함

        document.querySelector("#message").innerText = message;
        // 타임리프 + javascript 사용 연습 <h3> 태그로 나옴
        document.querySelector("#num1").innerText = num1;
        // 12345 <h3> 태그로 나옴
    </script>
</body>
</html>